<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a style="cursor: pointer;" class="navbar-brand">Shlack</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/chatbox" routerLinkActive="active">Chatbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/friends" routerLinkActive="active" *ngIf="_authService.loggedIn()">Friends</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="_authService.loggedIn()">
      <li class="nav-item d-flex">
        <input [(ngModel)]="this._searchComponent.searchData.input" class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/search" (click)="this._searchComponent.search()">Search</button>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Log in</a>
      </li>

      <li class="nav-item dropdown mr-4">
        <a class="nav-link dropdown-toggle" id="userName" style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="_authService.loggedIn()">My Account</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" style="cursor: pointer;" href="" (click)="_authService.logoutUser()">Log out</a>
          <a class="dropdown-item" href="" routerLink="/profile">Profile</a>
          <a class="dropdown-item">Settings</a>
        </div>
      </li>

    </ul>
    
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>