<div class="md-col-6">
  <div class="input-group input-group-sm my-1">
    <div class="input-group-prepend">
      <span class="input-group-text">First name</span>
    </div>
    <input type="text" class="form-control" value="{{ user.firstName }}">
  </div>

  <div class="input-group input-group-sm my-1">
    <div class="input-group-prepend">
      <span class="input-group-text">Last name</span>
    </div>
    <input type="text" class="form-control">
  </div>

  <div class="input-group input-group-sm my-1">
    <div class="input-group-prepend">
      <span class="input-group-text">Username</span>
    </div>
    <input type="text" class="form-control">
  </div>

  <div class="input-group input-group-sm my-1">
    <div class="input-group-prepend">
      <span class="input-group-text">eMail</span>
    </div>
    <input type="email" class="form-control">
  </div>

  <div class="input-group input-group-sm my-1">
    <div class="input-group-prepend">
      <span class="input-group-text">Password</span>
    </div>
    <input type="password" class="form-control">
  </div>
</div>